---
http_interactions:
- request:
    method: post
    uri: https://gender-api.com/v2/country-of-origin
    body:
      encoding: UTF-8
      string: full_name=David+M%C3%BCller
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ng:
      - 'count: 2, id: 38181'
    body:
      encoding: UTF-8
      string: |-
        {
            "input": {
                "full_name": "David M\u00fcller"
            },
            "details": {
                "credits_used": 2,
                "duration": "59ms",
                "samples": 381770,
                "country": null,
                "first_name_sanitized": "david"
            },
            "result_found": true,
            "country_of_origin": [
                {
                    "country_name": "France",
                    "country": "FR",
                    "probability": 0.1,
                    "continental_region": "Europe",
                    "statistical_region": "Western Europe"
                },
                {
                    "country_name": "Spain",
                    "country": "ES",
                    "probability": 0.1,
                    "continental_region": "Europe",
                    "statistical_region": "Southern Europe"
                },
                {
                    "country_name": "United States",
                    "country": "US",
                    "probability": 0.09,
                    "continental_region": "[...]
