---
http_interactions:
- request:
    method: post
    uri: https://gender-api.com/v2/country-of-origin
    body:
      encoding: UTF-8
      string: full_name=Oleh+Cherednichenkoqasdf
    headers:
      Authorization:
      - Bearer token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ng:
      - 'count: 2, id: 38181'
    body:
      encoding: UTF-8
      string: |-
        {
            "input": {
                "full_name": "Oleh Cherednichenkoqasdf"
            },
            "details": {
                "credits_used": 2,
                "duration": "77ms",
                "samples": 387,
                "country": null,
                "first_name_sanitized": "oleh"
            },
            "result_found": true,
            "country_of_origin": [
                {
                    "country_name": "Ukraine",
                    "country": "UA",
                    "probability": 0.85,
                    "continental_region": "Europe",
                    "statistical_region": "Eastern Europe"
                },
                {
                    "country_name": "Slovenia",
                    "country": "SI",
                    "probability": 0.04,
                    "continental_region": "Europe",
                    "statistical_region": "Southern Europe"
                },
                {
                    "country_name": "Czech Republic",
                    "country": "CZ",
                    "probability": 0.04,
                    "continental_regio[...]
